---
import profileImage from "../../public/profile_image.png";
import floorfoundLogo from "../../public/floorfound_logo.png";
import babylonLogo from "../../public/babylon_logo.png";
import iHeartMediaLogo from "../../public/iheart_logo.png";
import LinkedInButton from "../components/LinkedInButton.astro";
import GithubButton from "../components/GithubButton.astro";
import SendEmailButton from "../components/SendEmailButton.astro";
import CopyEmailButton from "../components/CopyEmailButton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>M. Scott Cameron</title>
  </head>
  <body
    class="m-4 md:m-0 bg-neutral-300 text-[#1e293b] font-mono divide-y-2 divide-[#1e293b]"
  >
    <header>
      <h1 class="text-3xl place-self-start md:m-4">M. Scott Cameron</h1>
      <img
        src={profileImage}
        class="top-8 scale-90 opacity-90 md:row-start-2 md:col-start-2 md:scale-75 md:mr-[7rem]"
      />
      <h1
        class="text-4xl leading-relaxed mx-2 md:row-start-2 md:justify-self-end md:text-end"
      >
        I'm a<br /><span class="text-5xl place-self-center">Fullstack Dev.</span
        >
      </h1>
      <p
        class="md:max-w-[45ch] text-lg md:row-start-3 md:col-span-2 md:place-self-center m-4"
      >
        ** with lean toward the frontend. I've been at it for 5 years, in many
        roles and industries and I enjoy to make great digital experiences.
        Please let me know if you have any questions or you'd like to work
        together. Cheers!
      </p>
    </header>
    <main class="grid gap-6 py-12">
      <h1 class="place-self-start">Contact me:</h1>
      <div class="button-group">
        <LinkedInButton />
        <GithubButton />
        <SendEmailButton />
        <CopyEmailButton />
      </div>
      <h1 class="place-self-start">Roles:</h1>
      <div
        class="max-w-full bg-neutral-200 grid shadow-2xl p-4 rounded-2xl grid-cols-1 gap-2"
      >
        <img src={floorfoundLogo} class="scale-75 place-self-center" />
        <h1 class="text-3xl text-center">FloorFound</h1>
        <p class="text-sm text-center">Senior Software Engineer</p>
        <p class="text-sm text-center">June 2022 - Apr 2023</p>
        <div class="flex gap-2 flex-wrap mt-4">
          <span class="tech-bubble">Typescript</span>
          <span class="tech-bubble">React</span>
          <span class="tech-bubble">Node</span>
          <span class="tech-bubble">Next</span>
          <span class="tech-bubble">GraphQL</span>
          <span class="tech-bubble">Apollo</span>
          <span class="tech-bubble">Prisma</span>
          <span class="tech-bubble">Chakra-UI</span>
        </div>
      </div>
      <div
        class="max-w-full bg-neutral-200 grid shadow-2xl p-4 rounded-2xl grid-cols-1 gap-2"
      >
        <img src={babylonLogo} class="place-self-center" />
        <h1 class="text-3xl text-center">Babylon Health</h1>
        <p class="text-sm text-center">Frontend Software Engineer</p>
        <p class="text-sm text-center">Nov 2021 - June 2022</p>
        <div class="flex gap-2 flex-wrap mt-4">
          <span class="tech-bubble">Typescript</span>
          <span class="tech-bubble">React Native</span>
          <span class="tech-bubble">GraphQL</span>
          <span class="tech-bubble">Apollo</span>
          <span class="tech-bubble">Lottie Animations</span>
        </div>
      </div>
      <div
        class="max-w-full bg-neutral-200 grid shadow-2xl p-4 rounded-2xl grid-cols-1 gap-2"
      >
        <img src={iHeartMediaLogo} class="scale-75" />
        <h1 class="text-3xl text-center">iHeart Media</h1>
        <p class="text-sm text-center">Software Engineer</p>
        <p class="text-sm text-center">Feb 2018 - Dec 2021</p>
        <div class="flex gap-2 flex-wrap mt-4">
          <span class="tech-bubble">Typescript</span>
          <span class="tech-bubble">React</span>
          <span class="tech-bubble">Node</span>
          <span class="tech-bubble">GraphQL</span>
          <span class="tech-bubble">React-Query</span>
          <span class="tech-bubble">AWS-Lambda/Dynamo</span>
          <span class="tech-bubble">styled-components</span>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  header {
    @apply relative grid gap-6 place-items-center max-w-full mb-8
      md:h-screen md:grid-cols-2 md:grid-rows-[1fr_2fr_1fr_3fr]
      lg:grid-cols-[1fr_3fr_1fr] lg:grid-rows-3;
  }

  .button-group {
    @apply max-w-full grid grid-cols-4 place-items-center gap-6
      md:absolute md:grid-cols-1 right-4 bottom-4 md:w-12 md:bg-transparent md:shadow-none;
  }

  .tech-bubble {
    @apply p-1 px-2 rounded-xl bg-slate-300;
  }
</style>
