---
import floorfoundLogo from "../../public/floorfound-logo.png";
import babylonLogo from "../../public/babylon-logo.png";
import iHeartMediaLogo from "../../public/iheartmedia-logo.png";
import thinkfulLogo from "../../public/thinkful-logo.png";
import parkLogo from "../../public/park-logo.png";
import tenOaksLogo from "../../public/ten-oaks-logo.png";
import usmcLogo from "../../public/usmc-logo.png";
import Role from "../components/Role.astro";
import DownArrow from "../icons/DownArrow.astro";
---

<section class="w-full grid gap-6 place-items-center my-12 md:mt-0 md:mb-8">
  <h1
    class="place-self-start w-full pt-4 border-t-2 border-neutral-800 md:hidden"
  >
    Roles:
  </h1>
  <Role
    logoSrc={floorfoundLogo}
    companyName="FloorFound"
    roleName="Senior Software Engineer"
    timeSpan="June 2022 - Apr 2023"
  >
    <span class="tech-bubble">Typescript</span>
    <span class="tech-bubble">React</span>
    <span class="tech-bubble">Node</span>
    <span class="tech-bubble">Next</span>
    <span class="tech-bubble">GraphQL</span>
    <span class="tech-bubble">Apollo</span>
    <span class="tech-bubble">Prisma</span>
    <span class="tech-bubble">Chakra-UI</span>
    <span class="tech-bubble">Fully Remote</span>
  </Role>
  <Role
    logoSrc={babylonLogo}
    companyName="Babylon Health"
    roleName="Frontend Software Engineer"
    timeSpan="Nov 2021 - June 2022"
  >
    <span class="tech-bubble">Typescript</span>
    <span class="tech-bubble">React Native</span>
    <span class="tech-bubble">GraphQL</span>
    <span class="tech-bubble">Apollo</span>
    <span class="tech-bubble">Lottie Animations</span>
    <span class="tech-bubble">Fully Remote</span>
  </Role>
  <Role
    logoSrc={iHeartMediaLogo}
    companyName="iHeartMedia"
    roleName="Software Engineer"
    timeSpan="Feb 2018 - Dec 2021"
  >
    <span class="tech-bubble">Typescript</span>
    <span class="tech-bubble">React</span>
    <span class="tech-bubble">Node</span>
    <span class="tech-bubble">GraphQL</span>
    <span class="tech-bubble">React-Query</span>
    <span class="tech-bubble">AWS-Lambda/Dynamo</span>
    <span class="tech-bubble">styled-components</span>
    <span class="tech-bubble">San Antonio, TX Hybrid</span>
  </Role>
  <Role
    logoSrc={thinkfulLogo}
    companyName="Thinkful"
    roleName="Software Engineering Bootcamp Student"
    timeSpan="Jun 2017 - Oct 2017"
  >
    <span class="tech-bubble">HTML5</span>
    <span class="tech-bubble">CSS3</span>
    <span class="tech-bubble">Javascript</span>
    <span class="tech-bubble">jQuery</span>
    <span class="tech-bubble">Node</span>
    <span class="tech-bubble">React</span>
    <span class="tech-bubble">Redux</span>
    <span class="tech-bubble">Fully Remote</span>
  </Role>
  <div class="grid place-items-center w-full max-w-4xl">
    <p class="text-2xl">Non-technical Roles</p>
    <DownArrow />
  </div>
  <Role
    logoSrc={parkLogo}
    companyName="The Park Community Church"
    roleName="Operations Director"
    timeSpan="Jan 2014 - Mar 2016"
  >
    <span class="tech-bubble">San Antonio, TX</span>
  </Role>
  <Role
    logoSrc={tenOaksLogo}
    companyName="Ten Oaks Storage"
    roleName="Facility Manager"
    timeSpan="Dec 2013 - Dec 2015"
  >
    <span class="tech-bubble">San Antonio, TX</span>
  </Role>
  <Role
    logoSrc={usmcLogo}
    companyName="U.S. Marines"
    roleName="Sergent, Fire Support Man"
    timeSpan="Sep 2005 - Apr - 2010"
  >
    <span class="tech-bubble">San Diego, CA</span>
    <span class="tech-bubble">Lawton, OK</span>
    <span class="tech-bubble">Okinawa, Japan</span>
    <span class="tech-bubble">Jacksonville, NC</span>
  </Role>
</section>

<style>
  .tech-bubble {
    @apply p-1 px-2 rounded-xl bg-slate-300 h-fit;
  }
</style>
